In [3]:
import pandas as pd
import numpy as np

# Read dataset ..
df = pd.read_csv("D:\DataScience with Python\Datasets\Titanic-Dataset.csv")

In [2]:
# Getting basic information about the dataset ..

print(df.shape)
#print(df.isnull().sum())
#print(df.dtypes)
#print(df.head)

(891, 12)

In [28]:
# Dropping not so useful columns ..
df = df.drop(columns = ["Ticket", "Fare", "Cabin"])

In [29]:
# Exploring Survived column  ..

#df["Survived"] = df["Survived"].value_counts()
print(df["Survived"].value_counts())

#print("Total Passengers: ", len(df["PassengerId"]))
#print("Passengers survived: ", len(df[df["Survived"] == 1]))
#print("Passengers not survived: ", len(df[df["Survived"] == 0]))

Survived
0    549
1    342
Name: count, dtype: int64

In [6]:
# Exploring "Sex" column ..

print(df["Sex"].value_counts())
#print("males survived (%):", 100*np.mean(df["Survived"][df["Sex"] == "male"]))
#print("females survived (%):", 100*np.mean(df["Survived"][df["Sex"] == "female"]))

# Converting categorical data into encoded data ..
# Survived by gender ..
df['Sex_Encoded'] = df['Sex'].map({'male': 0, 'female': 1})
gender_survived = df.groupby("Sex_Encoded")["Survived"].mean() * 100
print(gender_survived)
#gender_AgeGroup = df.groupby("Sex_Encoded")["Age_Group"].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64
males survived (%): 18.890814558058924
females survived (%): 74.20382165605095
Sex_Encoded
0    18.890815
1    74.203822
Name: Survived, dtype: float64

In [15]:
# Passengers Surviving based on passengerClass ..

print(df["Pclass"].value_counts())
print("1st Class Passengers surviving percentage: ", 100*np.mean(df["Survived"][df["Pclass"] == 1])) 
print("2nd Class Passengers surviving percentage: ", 100*np.mean(df["Survived"][df["Pclass"] == 2]))
print("3rd Class Passengers surviving percentage: ", 100*np.mean(df["Survived"][df["Pclass"] == 3]))

Pclass
3    491
1    216
2    184
Name: count, dtype: int64
1st Class Passengers surviving percentage:  62.96296296296296
2nd Class Passengers surviving percentage:  47.28260869565217
3rd Class Passengers surviving percentage:  24.236252545824847

In [2]:
# Add missing values to the "Age" column ..

df["Age"] = df["Age"].fillna(np.mean(df["Age"]))

# Fomatting the "Age" column ..

df["Age"] = df["Age"].astype(int)

In [3]:
# Making column for 'Age Group'

df['Age_Group'] = np.where(df['Age'] < 18, 'Child',
                           np.where((df['Age'] >= 18) & (df['Age'] < 60), 'Adult',
                                    np.where(df['Age'] >= 60, 'Senior', 'Unknown')))
#df["Age"]
#df[df['Age_Group'] == "Senior"]

In [41]:

# Survival based onthe Age Groups ..

survival_age_group = df.groupby('Age_Group')['Survived'].mean() * 100
print(survival_age_group)
#print("Surviving Passengers are children: ", 100*np.mean(df["Survived"][df["Age"] < 18])) 
#print("Surviving Passengers are adults: ", 100*np.mean(df["Survived"][(df["Age"] > 18) & (df["Age"] < 60)]))
#print("Surviving Passengers are seniors: ", 100*np.mean(df["Survived"][df["Age"] > 60]))

Age_Group
Adult     36.436170
Child     53.982301
Senior    26.923077
Name: Survived, dtype: float64

In [47]:
# Add missing values to the "Embarked" column ..


df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])
port = {"S": "Southhampton", "C" : "Cherbourg", "Q" : "Queenstown"}
df["Embarked_Port"] = df["Embarked"].map(port)
survival_by_port = df.groupby('Embarked_Port')['Survived'].mean() * 100
print(survival_by_port)
# DO the Passenger's survival is affected by the port for embarkment ?.

#print("Passengers surviving % departing from the port Southampton  : ", 100*np.mean(df["Survived"][df["Embarked"] == "S"])) 
#print("Passengers surviving % departing from the port Cherbourg  : ", 100*np.mean(df["Survived"][df["Embarked"] == "C"]))
#print("Passengers surviving % departing from the port Queenstown  : ", 100*np.mean(df["Survived"][df["Embarked"] == "Q"]))

Embarked_Port
Cherbourg       55.357143
Queenstown      38.961039
Southhampton    33.900929
Name: Survived, dtype: float64

In [7]:
print(df["Embarked"].value_counts())

Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [47]:
# mean Age of passengers ..
df["Age"].mean()

29.34567901234568

In [50]:
# Age Groups
children = df[df["Age"] < 18]["Age"].value_counts()
adults = df[(18 < df["Age"]) & (df["Age"] < 60)]["Age"].value_counts()
senior = df[df["Age"] >= 60]["Age"].value_counts()

In [53]:
#children
#adults
#senior

Age
62    4
60    4
65    3
70    3
61    3
71    2
63    2
64    2
66    1
80    1
74    1
Name: count, dtype: int64

In [16]:
# sex distribution age wise ..

#Encoding categorical data to numerical .

df['Sex_Encoded'] = df['Sex'].map({'male': 0, 'female': 1})
gender_AgeGroup = df.groupby("Sex_Encoded")["Age_Group"].value_counts()
#print(gender_AgeGroup)

# Survuval based on the Gender of the Age groups ..

surv = df.groupby("Sex_Encoded")["Survived"].mean() * 100
print(surv)

Sex_Encoded
0    18.890815
1    74.203822
Name: Survived, dtype: float64

In [60]:
children_gender

Sex
male      58
female    55
Name: count, dtype: int64

In [14]:
# sex distribution of passengers ..
df["Sex"].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64